<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
    <link rel="icon" href="/img/umbrella.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>Use form on <a href="/">this</a> page to enter your city name.</p>
</div>
{{>footer}}
</body>
</html>