
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
    color: #333333;
    font-family: 'Raleway', arial, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.icons-license{
    font-size: 10px;
}
.icons-license a{
    color: #1c1c1c;
}

.weather-form .location{
    border: none;
    border-bottom: #888888 1px solid;
    outline: none;
    padding: 10px;
    font-size: 28px;
}
.weather-form .location:hover{
    border-color: #555555;
}

.weather-form button{
    border: none;
    font-weight: 100;
    color: #d8d8d8;
    background-color: #888888;
    padding: 10px;
    outline: none;
    cursor: pointer;
    font-size: 28px;
    transition: 500ms;
}
.weather-form button:hover{
    background-color: #333333;
    outline: none;
    transform: scale(1.05);
    transition: 500ms;

}
.main-content{
    flex-grow: 1;
}

footer{
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}
header{
    margin-top: 16px;
    margin-bottom: 48px;
    padding-bottom: 16px;
    border-bottom: 1px solid #eeeeee;
}

header a{
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}